html,body{

    margin:0;
    padding:0;

    box-sizing: border-box;
    font-size: 18px;

}

img{
    width:100%;
    height:100px;

}

figure{
    height:100%;
}

.container {
    width:300%;
    height:300px;
}