@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
/*
	Diseño de interfaces Web
    Hoja de estilos para una galería de fotos con columnas adaptables
    Autor: Marina Vega Vázquez
	Fecha: 08/03/2022
	Nombre fichero: estilo.css
*/
/*----- estilos generales -----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
}
 
body{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 13px;
    font-weight: 300;
    background-color: #E5E5E5;
}

/*--- galería ----*/
.galeria{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    list-style: none;

    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    flex-wrap: row wrap;
}

.galeria li{
    position: relative;
    width: 33.333%;
    float: left;
    padding: 0.625rem;

    display: -webkit-flex;
    display: flex;

    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-in;
}

.galeria li .card{
    position: relative;
    padding: 6px 6px 30px 6px;
    background-color: #fff;
    overflow: hidden;
}

.galeria li figure{
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

.galeria li img{
    width: 100%;
    height: auto;

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-in;
}

.galeria li img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.galeria li h3{
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
    color: black;
}

.galeria li time{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px;
    font-weight: 400;
    text-align: center;
}

.galeria li:nth-child(even) .card{
    background-color: #eee;
}

/*---- MEDIA QUERIES ---- */

@media screen and (max-width: 992px) {
    .galeria {
        width: auto;
    }
    
}
@media screen and (max-width: 468px) {

    .galeria li{
        width: 100%;
    }
    
}
@media screen and (max-width: 768px) {
    .galeria li {
        width: 50%;
    }
    
}


