*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #1d2022;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content:center;*/
    font-family: segoe UI, segoe; 

}

.header {
   
    width: 100vw;
    height: 300px;
    background-color:#333;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header nav{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #1d2022;
    border-radius: 15px;

}



.header a{
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-size: 28px;
    z-index: 1;

    padding:1em 2em;

    
}



.header .animation{
    border-radius:5px;
    transition: background 0.5s ease-in-out, left 0.4s ease-in-out, width .4s,border-radius .5s;

}

.header a:first-child:hover~.animation{
    position: absolute;
    top:0;
    left: 0px;
    width: 230px;
    height: 93px;
    background-color: rgb(141, 119, 230);
    padding:1em 2em;
    border-radius:15px 5px 5px 15px;

}

.header a:nth-child(2):hover~.animation{
    position: absolute;
    top:0;
    left: 230px;
    width: 230px;
    height: 93px;
    background-color: rgb(49, 180, 163);
    padding:1em 2em

}

.header a:nth-child(3):hover~.animation{
    position: absolute;
    top:0;
    left: 460px;
    width: 165px;
    height: 93px;
    background-color: rgb(248, 57, 127);
    padding:1em 2em;
    border-radius:5px 15px 15px 5px;

}
.header a:hover{
    color:#f7f7f7;
    transition: color .4s ease-in-out;
}

/* ********** BANNER ********** */

.banner-container{
    position: relative;
    width: 100vw;
    height:20vh;
    background-color:rgb(47, 48, 57);

    background-image:url(../img/fondo-1.jpg);
    background-size:cover;
    transition: all .2s ease-in-out;
    animation: banner 35s infinite linear;
    margin-bottom: 30px;

}

.banner{
    margin:0; 
    padding:0;
    width:100%; 
    height:100%;
    
    background-color: rgba(0, 22, 40, .6);
    display: flex;
}

@keyframes banner{
    5%{ background-image:url(../img/fondo-1.jpg)}
    20%{ background-image:url(../img/fondo-1.jpg)}
    25%{ background-image:url(../img/fondo-2.jpg)}
    40%{ background-image:url(../img/fondo-2.jpg)}
    45%{ background-image:url(../img/fondo-3.jpg)}
    60%{ background-image:url(../img/fondo-3.jpg)}
    65%{ background-image:url(../img/fondo-4.jpg)}
    80%{ background-image:url(../img/fondo-4.jpg)}
    85%{ background-image:url(../img/fondo-5.jpg)}
    100%{ background-image:url(../img/fondo-5.jpg)}


}


/* ********** SLIDER ********** */

.slider{
    margin:0; 
    padding:0;
    overflow:hidden;
 }
    .slider-container{
       
        display:flex;
        width:500vw;
        animation: slider 20s infinite alternate;
        overflow:hidden;
        display:none;
    }

    .img{
        width:100%;
        height:auto;
        margin:0; padding:0;
    }
    .figure{
        margin:0; padding:0;
        max-width:100vw;
        position:relative;
        user-select: none;
    }
    
    .figure::before{
    content: attr(aria-label); 
    z-index:2;
    }
    
    @keyframes slider {
        5%{margin-left:0;}
        20%{margin-left:0;}
        25%{margin-left:-100%;}
        40%{ margin-left:-100%;}
        45%{margin-left:-200%;}
        60%{ margin-left:-200%;}
        65%{margin-left:-300%;}
        80%{ margin-left:-300%;}
        85%{margin-left:-400%;}
        100%{ margin-left:-400%;}
    
    }
    /* ********** Ventana modal ********** */


    dialog {
        top:10vh;
        left: calc( 50vw - 900px/2);
        position: absolute;
        width: 900px;
        height:600px;
        padding: 1em 2em 2em;
        background-color:#f7f7f7;
        border: 3px solid #333;
        border-radius: 15px;

        color:rgba(0, 22, 40);

        /* display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

         */

        
    }

    dialog h2 {
        font-size:38px;
        width:100%;
        text-align: center;
        padding-top:80px;

    }

    dialog p{
        width: 100%;
        padding: 50px 10px;
        text-align: center;
        font-size: 22px;
    }
    dialog button{
        width: 200px;
        height:50px;
        color:#f7f7f7;
        background-color: #1d2022;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        background-color: #cd18ad;

        position:absolute;
        bottom:50px;
        left:calc( 50% - 100px);
    }
    dialog::backdrop {
        background: rgba(0, 22, 40, .6);
    }
      