
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}


/* 
.container img{
    width:100%;
    height:auto;
} */
.container{
width:100%;
     background-color:white;
}
.persona{
    background-image: url(../img/caminando1.svg);
    background-size: auto 100%;
    width: 500px;
    height: 1000px;


    

    
    animation: caminar 1s steps(5) infinite, adelante 5s linear infinite ; */

    /* will-change:background-position;
    animation-name: caminar;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
    */

} 

@keyframes caminar {
    0%{
        background-position: -30px;
    }

    100%{
        background-position: -2200px;
    }

}

@keyframes adelante {
 
    0%{
        transform:translateX(1px);
    }
    100%{
        transform:translateX(1900px);;
    }



}