@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --fondo-cabecera-pie        : hsla(29,29%,22%,5.596);
    --texto-fondo               : #a8c730;
    --separador-p               : #c2d86e;
    --label-checkbox            : #0fbf12;
    --label-checkbox-disabled   : #cccccc;
    --label-checkbox-checked    : #c1eec2;
    --fondo-label               : #6f712a;
    --arbol-ruso                : rgba(128, 128, 128, 0493);   

    --tamaño-fuente-base               : 16px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size:var(--tamaño-fuente-base);
    line-height: 1.5;

}

h1{
    font-size: calc(100% + 1rem);
    color: var(--texto-fondo);
}
h2{
    font-size: calc(100% + 0.3rem);
    color:#fff;
}
h3{
    font-size: calc(100% + 0.1rem);
    color:#fff;
}
.botones{
    font-size:1.2rem;
}

/* div separador entre secciones */
.separador{
    width: 135px;
    margin: 1%,0;
    height: 5px;
    background-color:var(--separador-p);
    position: relative;
}


.boton{
    background-color: var(--fondo-cabecera-pie);
    color:var(--texto-fondo);
    border: 1px solid var(--texto-fondo);
    border-radius: 5px;
}

/* Cabecera y pie  */
#header, #footer{
    background-color: var(--fondo-cabecera-pie);
    display:flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-basis: 50%;
    align-items: center;
    overflow: hidden;
    justify-content:space-evenly;

}

/* cabecera */

#header{
    padding:1em;
}

#header .cta-contact{
    height: 1em;
    width:100px;
}


#header nav{
    width:100%;
}

#header nav ul{
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
}




#header li{
    list-style: none;
    margin: 0.5em 1.5em; 
    transition: all  .3s ease-in;

}

#header li a{
    text-decoration: none;

}
#header li a img{
    padding-top: 8px;

}

/* pie de pagina */


#footer h2{
    color:var(--texto-fondo);
}
#footer p, #footer address{
    color:#fff;
}

#footer .izquierda, #footer .derecha{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    padding-left: 15px;
    
}
#footer p{
    margin: 10px 10px 0 0;

}
#footer .izquierda .figure img{
    width: auto;
    padding-top:12px;
}
#footer .derecha {
    margin-top:55px;
}

#footer .derecha h2 {
    margin-bottom: 10px;
}
#footer .derecha p {
    margin-top:55px;
    margin-bottom: 10px;
}


#main h1{
    text-align: center;
    margin-top: .5em;
}
#main .principal{
    position: relative;
    margin-left: calc( 50% - (135px/2));
    height: .5em;
}


.galeria{
    max-width: 1280px;
    margin:0 auto;
    overflow: hidden;

    display:flex;
    flex-flow: row wrap;

}

.galeria li{
    position: relative;
    /* width: calc( 20% - 1em); */
    float: left;

    display:flex;
    flex-flow: row nowrap;


    padding: 1.5em;
    

}

.galeria .card{
    height: 420px;
    position: relative;
    background-color: var(--texto-fondo);
    padding: 0.2em;
    
}
.galeria .card img{
    width: 100%;
    height: auto;
}

.galeria h1, h2{
    text-transform: capitalize;
    font-weight: bold;
}

.galeria h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

.galeria .card a{
    color: var(--fondo-cabecera-pie);
}

.galeria .card .votar{
    background-color: var(--fondo-label);
    width:100%;
    height: 40px;
    color:#fff;
    position: absolute;
    bottom:0;
    margin:0 0 -0.2em -0.2em;

}

.galeria .card .votar label{
    float: right;
    padding-right: 1em;
    padding-top: 0.5em;
    font-weight: bold;

}
.galeria .card .votar input{
    margin: 0.5em 0.5em;
    width:25px;
    height:25px;
    

}

#botones{
    margin:0 auto;
    width: 90%;
    padding: 2em 0.5em;
}
#botones p{
    border-top:1px dotted var(--fondo-cabecera-pie);
    padding:0 3em;
    text-align: center;
    
}
#botones input{
    margin: 1em;
    width: 130px;
    height: 30px;
    background-color: var(--fondo-cabecera-pie);
    box-shadow: var(--fondo-cabecera-pie) 0.3em 0.5em 0.5em;
}

/* EFECTOS */
#header .cta-contact:hover{
     /* cambia el fondo a blanco y el borde y la letra a marron */
     background-color: #fff;
     color: var(--fondo-cabecera-pie);
     border-color: var(--fondo-cabecera-pie);
}

#header li:hover {
    transform: rotate(360deg);
    border: solid 1px var(--texto-fondo);
    border-radius: 100%;
}



input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]+label:before{
    width:26px;
    height:26px;
    background-color:#fff;
    content: "";
	float: left;
	border: 2px solid green;
	
}

input[type="checkbox"]:checked + label:after {
    content: "";
    width: 12px;
    height: 6px;
    border: 4px solid #0fbf12; 
    float: left;
    margin-left: -1.4em;
    border-right: 0;
    border-top: 0;
    margin-top: 0.5em;
    /* transform: rotate(-55deg); */
}




/* 
input[type=checkbox]:checked ~ .galeria .card .votar{
    background-color: var(--label-checkbox-checked);
}
  


input[type=checkbox]:before {
  background: green;
  content: '✓';
  color: white;

}
input[type=checkbox]::after {
  background: blue;
  content: '⨯';

}
input[type=checkbox]:checked {
  mix-blend-mode: unset;
  color: transparent;
}             
--label-checkbox-disabled  
--label-checkbox-checked  */



/* MEDIA QUERYS */

@media screen and (min-width:550px) {
    #header{
        font-size:1.5rem;
    }

    #header nav{
        width:33%;
    }
    #header li{
        list-style: none;
        margin: 0.5em;
        transition: all  .3s ease-in;
    
    }


    #footer .izquierda{
        border-right: 1.8px dashed var(--texto-fondo); */
    }

    #footer .derecha{
        margin-left: 2%;
    }

}
@media screen and (min-width:2000px) {
    .galeria li {
        position: relative;
        width: 15%;
    }
}
