
/* Hoja de estilos para index.html
Autor: Andrés Rey Villar
Fecha: Enero 2021
*/
/* pefecto! */

/* ◦ Por defecto para todo el cuerpo del documento empleamos: 'Courier New', Courier,
monospace. */
*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;

}

/* ◦ Para todos los tipos encabezado (h1 hasta h6): 'Franklin Gothic Medium', 'Arial Narrow',
Arial, sans-serif. */
h1, h2, h3, h4 h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/* ◦ Tamaño de la fuente de los párrafos y las listas: 0.8 veces el tamaño de la fuente. */
p, li {
    font-size: 0.8em;
}

/* ◦ Tamaño de la fuente de las listas desordenadas (menú de la izquierda) 1.5 veces el
tamaño de la fuente. */
nav ul li{
    font-size: 1.5em;
    list-style:none;
    padding:0.3em;
}

/* ◦ Color texto de los enlaces color negro. */
a{
    color:black;
}

/* ◦ Color de los enlaces del menú al pasar por encima de el: texto sin el subrayado que
tienen por defecto los enlaces, color de fondo “#a9a9a9”, color del texto blanco. */
nav a:hover{
    text-decoration:none;
    color:white;
    background-color:#a9a9a9;
}


/* ◦ Color de los enlaces del documento al pasar sobre el: texto sin el subrayado que tienen
por defecto los enlaces, color de fondo “negro”, color del texto blanco. */

 section a:hover{
    text-decoration:none;
    color:#fff;
    background-color:#000;
}


/* ◦ Tamaño de los h2 de la cabecera 1 vez el tamaño de la fuente. */
header h2{
    font-size:1em;
}


/* ◦ Párrafo del pié en negrita. */
footer p{
    font-weight: bold;
}


/* ◦ El menú tiene un ancho de 15%. */
nav{
    width:15%;
 }
 

