@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-letra-color:#415840;
  --main-letra-dark-color: black;
  --main-fondo-color: #ebe2e5;
  --menu-fondo-color: #f3c5d9;
  --page-fondo-color: #feffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body>* {
  padding: 20px;
}


/*********** cabecera **********/
.cabecera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--page-fondo-color);
}

.cabecera img.logo {
  width: auto;
}

.cabecera nav {
  order: 0;
}

.cabecera nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.cabecera nav ul li:not(:last-child) {
    padding-right: 15px;
}
  
.cabecera nav ul li a {
    padding: 5px 18px;
}
  
.cabecera .cta-contact, button {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 5px;
}
  
.cabecera .cta-contact:hover {
    background-color: var(--menu-fondo-color);
    color: var(--main-letra-color);
}
  
.cabecera nav ul li a:hover {
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--menu-fondo-color);
    color: var(--main-letra-color);
}
/********** contenido principal de la página ***********/
.principal {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    color: var(--main-letra-color);
    background: var(--main-fondo-color);
  }

  .principal section {
    max-width: 80%;
    margin-bottom: 6%;
    font-size: 1.4rem;
  }
/***** estilo de la tienda *****/
.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.productos picture{
    margin-left: 10px;
    /* width: auto;
    max-width: 600px;  */
    max-height: 280px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    margin: 1%;
    flex-basis: 200px; 
}
.producto{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-letra-color);
    border-radius: 20px;
}

.producto img {
    transition: all 0.3s ease-in-out;
}

.producto picture{
    flex: 1 1 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.producto picture img:hover {
    transform: scale(1.2);
}
.producto p {
    margin-left: 2%;
    font-size: 1rem;
  }

.producto button{
    background-color: var(--main-letra-color);
    color: var(--main-fondo-color);
    position: relative;
    left: 20%;
    padding: 1% 5%;
    margin: 8% 0;
}

.producto button:hover{
    background-color: var(--menu-fondo-color);
    color: var(--main-letra-color);
}
/********* pie ********/
footer {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--page-fondo-color);
  }
  
  div.derechos {
    display: flex;
    flex-direction: row;
  }
  
  div.derechos small {
    margin-right: 10px;
  }
  
  footer ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  
  footer ul li:not(:last-child) {
    margin-right: 20px;
  }
  
  footer ul img {
    width: 30px;
    height: auto;
  }
  
  footer img.img_pie {
    width: 80%;
  }
  
  /****** Media Queries ************/
  
  @media screen and (min-width: 550px) {
    .cabecera nav ul {
      width: auto;
      margin-top: 0;
      font-size: 1.5rem;
      justify-content: center;
    }
  
    .cabecera .cta-contact {
      order: 0;
    }
    
    footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    } 
  
    footer ul {
      margin-bottom: 0;
    }
  
  }
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
  
    .cabecera .cta-contact {
      order: 1;
    }
  
    .producto picture {
      flex: 1 1 150px;
      /* el elemento puede crecer y reducirse desde una base flexible de 0.*/
    }
  
  }
  
  
  @media screen and (min-width: 1200px) {
    .fondo {
      background: var(--main-fondo-color) url("../img/fondo.jpg") no-repeat center;
    }
  
    .producto picture {
      flex: 1 1 300px;
      /* el elemento puede crecer y reducirse desde una base flexible de 0.*/
    }
  
  }
  